body{
    font-size: 2rem;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 0;
}

table{
    border:1px solid black;
    border-collapse: collapse;
}

tr > th{
    border:1px solid black;
    padding: 3px 20px;
    background-color: cadetblue;
}
tr>td:first-child{
    font-size: 1.5rem;
}
tr:nth-child(2n){
    background-color: rgb(177, 241, 238);
}
tr > td{
    border:1px solid black;
}

/*CASILLAS DE AREAS*/
tbody .recreo{
    background-color: rgb(231, 181, 71);
}

tbody .Programación {
    background-color: rgb(220, 85, 224);
    font-size: 1.5rem;
}

tbody .Medio{
    background-color:  rgba(57, 216, 91, 0.877);
    font-size: 1.5rem;
}

/*CASILLAS DE DATOS*/

.cal{
    margin-top: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    width: 100vh;
    align-content: center;
}

.calculos:nth-child(2n){
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-size: cover;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.75),
        rgba(255, 255, 255, 0.75)
    ),url(../../../G-assets/imagenes/chibolos.jpg);
    width: 100%;
}

.section{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border:3px solid black;
    background-color: rgb(255, 140, 57);
    width: 350px;
    height: 270px;
    border-radius: 30px;
    margin-bottom: 100px;
    box-sizing: border-box;
}

.dato{
    margin-top: 10px;
    width: 100px;
    height: 20px;
    font-size: 15px;
    outline: 0;
    text-align: center;
}

.promedio{
    width: 100px;
    height: 30px;
    font-size: 25px;
    outline: 0;
    text-align: center;
    grid-area: promedio;
}

/*AJUSTE DE LOS BOTONES*/
#btn1{
    grid-area: btn1;
    background-color: chartreuse;
    border:2px solid rgb(66, 128, 4);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    box-sizing: border-box;
}
#btn1:hover{
    scale: 1.05;
    opacity: 0.8;
}

#btn2{
    grid-area: btn2;
    background-color: rgb(236, 77, 77);
    border:2px solid rgb(235, 16, 16);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    box-sizing: border-box;
}
#btn2:hover{
    scale: 1.05;
    opacity: 0.8;
}

#btn3{
    grid-area: btn3;
    background-color: rgb(67, 231, 243);
    border:3px solid rgb(4, 70, 145);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    padding: 2px 15px;
    box-sizing: border-box;
}
#btn3:hover{
    scale: 1.05;
    opacity: 0.8;
}

/*ORDEN DE LOS BOTONES*/
#grid{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2,1fr);
    grid-template-areas:
        ". promedio ."
        "btn1 btn2 btn3";
    row-gap: 10px;
    column-gap: 20px;
}

/*LABEL DE LOS INPUTS*/
.text{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5rem;
}



