body{
    padding-top: 89px;
    margin:0;
    border:1px solid black
}

#interfas{
    inset: 0;
    position: fixed;
    z-index: 1;
    height: 90px;
    
}
#inter{
    width: 100%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:60px 30px;
    place-content: center;
    grid-column:1/-1;
    grid-row:1/2;
}

#titulo{
    display:flex;
    justify-content: space-between;
    background:radial-gradient(rgb(255, 255, 255) 1%,black);
    grid-column: 1/-1;
    align-items: center;
    color:rgba(255, 255, 255, 0.541);
}
#titul{
    text-align: center;
    font-size: 60px;
    font-family: monospace;
}

.logo{
    height: 50px;
    padding: 5px;
}

/*envio directo*/
.part{
    border:3px solid black;
    box-sizing: border-box;
    text-align: center;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.part:nth-child(2n){
    background-color: blueviolet;
}
.part:nth-child(2n):hover{
    background-color: rgba(92, 14, 165, 0.836);
}
.part:nth-child(3n){
    background-color: aqua;
}
.part:nth-child(3n):hover{
    background-color: rgba(48, 199, 199, 0.877);
}
.part:nth-child(4n){
    background-color: darkgoldenrod;
}
.part:nth-child(4n):hover{
    background-color: rgba(255, 183, 0, 0.863);
}

/*botones interactivos*/
#contenedor{
    width: 100%;
    display:flex;
    height: 550px;
    background:radial-gradient(ellipse at center top,black 40%,red);
    position:relative;
    justify-content: center;
    align-items: center;
}


.opciones{
    height: 200px;

}
.opciones:hover{
    scale: 1.01;
    opacity: 90%;
}
/*informacion de donde encontrarnos*/
#contacto{
    display: grid;
    height: 520px;
    background:radial-gradient(ellipse at center top,black 40%,red);
    grid-template-areas: 
    "pt1 ."
    "pt2 pt3"
    ;
}

.cont{
    color:antiquewhite;
    font-size: 35px;
    font-weight: bold;
    font-family: monospace;
}

fieldset .cont:first-child{
    font-size: 15px;
}

#caja{
    color:antiquewhite;
    width: 300px;
    background:radial-gradient(ellipse at center, rgba(187, 17, 17, 0.534) 80%,rgb(110, 98, 98));
}

.cont1{
    display:flex;
    justify-content: flex-start;
    gap:5px;
}
.gmail{
    margin-left: 36px;
    outline:none;
}
.coment{
    outline:none;
    overflow: auto;
}

.form > .cont1:first-child{
    margin-bottom: 15px;
}
.form > .cont1:nth-child(2){
    margin-bottom: 10px;
}

/*Datos del contacto*/
#con{
    color:antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}

#config{
    display: flex;
    justify-content: center;
    width: 75%;
}
.quitar{
    text-decoration: none;
    color:rgb(218, 215, 250)
}

.boton{
    background-color: darkgrey;
    border:3px solid rgb(255, 255, 255);
}
.boton:hover{
    scale: 1.1;
}

.minic1:first-child{
    grid-area: pt1;
    grid-column: 2/4;
    grid-row: 2/3;
}
.minic1:nth-child(2n){
    grid-area: pt2;
    grid-column: 2/3;
    grid-row: 3/-1;
}
.minic1:nth-child(3n){
    grid-area: pt3;
    grid-column: 3/4;
    grid-row: 3/-1;
}

/*ALERTA DE ENVIO DEL COMENTARIO*/
.form > .alerta-exito,
.form > .alerta-error{
    color: black;
    color: black;
    text-align: center;
    display:none;
}

.form .alertaExito{
    display:block;
    background-color: chartreuse;
    border: 2px solid rgb(0, 0, 0);
    margin-left: 68px;
    margin-top: 8px;
    padding: 2px 8px;
    width: 160px;
}

.form .alertaError{
    display:block;
    background-color: rgb(240, 41, 41);
    border: 2px solid rgb(0, 0, 0);
    margin-left: 68px;
    margin-top: 8px;
    padding: 2px 8px;
    width: 160px;
}

.border{
    outline: 2px solid red;
}