body{
    font-size: 2rem;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 0;
}

table{
    border:1px solid black;
    border-collapse: collapse;
}

tr > th{
    border:1px solid black;
    padding: 3px 20px;
    background-color: cadetblue;
}
tr>td:first-child{
    font-size: 1.5rem;
}
tr:nth-child(2n){
    background-color: rgb(177, 241, 238);
}
tr > td{
    border:1px solid black;
}

/*CASILLAS DE AREAS*/
tbody .recreo{
    background-color: rgb(231, 181, 71);
}

tbody .Programación {
    background-color: rgb(220, 85, 224);
    font-size: 1.5rem;
}

tbody .Medio{
    background-color:  rgba(57, 216, 91, 0.877);
    font-size: 1.5rem;
}




/*            TABLA DE REGISTRO             */

h3{
    margin-bottom: 10px;
}

#registro th{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: rgb(13, 151, 13);
}

#registro td{
    font-family: monospace;
    font-size: 1rem;
    padding: 2px 10px;
    background: rgb(53, 243, 53);
}

.caja2{
    background:radial-gradient(ellipse at center,rgb(255, 0, 0),rgb(0, 0, 0));
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}






/*registro*/
#form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 350px;
  padding: 20px;
  border-radius: 20px;
  font-size: 1rem;
  font-family: 'Times New Roman', Times, serif;
  background-color: #1a1a1a;
  color: #fff;
  border: 1px solid #333;
  margin-bottom: 20px;
}

.message {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00bfff;
}

.message::before {
  width: 18px;
  height: 18px;
}

.message::after {
  width: 18px;
  height: 18px;
  animation: circulo 1s linear infinite;
}

@keyframes circulo {
  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

.message::before,.message::after {
  position: absolute;
  content: "";
  border-radius: 50%;
  left: 0px;
  background-color: #00ff4080;
}

.message{
  font-size: 14.5px;
  color: rgba(255, 255, 255, 0.7);
}

.signin {
  text-align: center;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.signin a {
  color: #00bfff;
}

.flex {
  display: flex;
  gap: 6px;
}

#form label {
  position: relative;
}

#form label .input {
  background-color: #333;
  color: #fff;
  padding: 20px 5px 5px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.flex .input{
    width:155px;
}

div{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
form .input{
    width: 250px;
}


#form label .input + span {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

#form label .input:placeholder-shown + span {
  top: 12.5px;
}

#form label .input:focus + span {
  color: #00bfff;
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.input {
  font-size: medium;
}

div{
  display: flex;
  justify-content: center;
}
.submit {
  border: none;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
  background-color: #00bfff;
  width: 150px;
}

.submit:hover {
  background-color: #00bfff96;
}

/*ERROR DE LO INPUT*/
.alertaError{
  color: rgb(247, 247, 247);
  font-size: 0.8rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.border{
  border: 2px solid rgb(255, 0, 0);
  border-radius: 12px;
}

/*ENVIO CORRECT/DENEGADO*/
div> .alerta-correct,
div> .alerta-deneg{
  display:none;
}

div .envioExito{
  display: block;
  background-color: rgb(45, 230, 45);
  border:4px solid #016111;
  padding: 2px 10px;
  font-size: 1.2rem;
}

div .envioError{
  display:block;
  background-color: rgb(230, 45, 45);
  border:4px solid #8a0303;
  padding: 2px 10px;
  font-size: 1.2rem;
}





